@font-face {
  font-family: "NanumSquareNeo-aLt";
  src: url("./assets/fonts/NanumSquareNeo-aLt.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
  font-family: "NanumSquareNeo-aLt";
}