@font-face {
  font-family: "NanumSquareNeo-aLt";
  src: url("./assets/fonts/NanumSquareNeo-aLt.ttf") format("truetype");
}

@font-face {
  font-family: "Cafe24Ssurround-v2.0";
  src: url("./assets//fonts//Cafe24Ssurround-v2.0.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Cafe24Ssurround-v2.0";

  @media (min-width: 768px) {
    height: 100vh;
    width: 100%;
  }
}
